<div class="hidden" id="nav-data">
    <section class="tab">
        <div class="nav-btn" data-container="overview">Overview</div>
        <div class="nav-btn" data-container="apps">Apps</div>
        <div class="nav-btn" data-container="files">Files</div>
        <div class="nav-btn" data-container="display">Display</div>
        <div class="nav-btn" data-container="terminal">Terminal</div>
        <div class="nav-btn" data-container="about">About</div>
    </section>
</div>

<div class="hidden" id="utility-data">
    <!-- placeholder -->
</div>

<!-- <input class="input-style" id="adb-ip" type="text" placeholder="192.168.1.1">
<button class="utility-style btn-style" id="adb-connect">Connect</button>
<button class="utility-style btn-style" id="adb-disconnect">Disconnect</button>
<button class="utility-style btn-style" id="adb-devices">show devices</button> -->



<div id="overview" class="content">
    Overview
</div>

<div id="apps" class="content">
    Apps
</div>

<div id="files" class="content">
    Files
</div>

<div id="display" class="content">
    <!-- Display -->
    <input id="inputRes" class="input-style" placeholder="1080x2400" type="text">
    <input id="inputSerial" class="input-style" placeholder="input your devices" type="text">
    <button id="changeRes" class="btn-style">Change Resolution</button>
</div>

<div id="terminal" class="content">
    Terminal
</div>

<div id="about" class="content">
    About
</div>